@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to SOB-Technologies</h1>
    <p>This is the main page of SOB-Technologies developed with ASP.NET Core MVC</p>
    <p>This is for learning purpose so as to concentrate on my .Netframeworks skill sets.</p>
</div>
